In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 11.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
  host="database-1.cf0hjhh8y8ul.us-east-1.rds.amazonaws.com",
  user="admin",
  password="senai115"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7f416dbfb310>

In [4]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [5]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('aurora_bank',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="database-1.cf0hjhh8y8ul.us-east-1.rds.amazonaws.com",
  user="admin",
  password="senai115",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [14]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

Insert

In [17]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

13 record inserted.

Select

In [18]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

there

In [19]:
mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ben', 'Park Lane 38')

Order By

In [20]:
mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652')
('Ben', 'Park Lane 38')
('Betty', 'Green Grass 1')
('Chuck', 'Main Road 989')
('Hannah', 'Mountain 21')
('John', 'Highway 21')
('Michael', 'Valley 345')
('Peter', 'Lowstreet 4')
('Richard', 'Sky st 331')
('Sandy', 'Ocean blvd 2')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Viola', 'Sideway 1633')
('William', 'Central st 954')

In [21]:
mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954')
('Viola', 'Sideway 1633')
('Vicky', 'Yellow Garden 2')
('Susan', 'One way 98')
('Sandy', 'Ocean blvd 2')
('Richard', 'Sky st 331')
('Peter', 'Lowstreet 4')
('Michael', 'Valley 345')
('John', 'Highway 21')
('Hannah', 'Mountain 21')
('Chuck', 'Main Road 989')
('Betty', 'Green Grass 1')
('Ben', 'Park Lane 38')
('Amy', 'Apple st 652')

Delete

In [22]:
mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

Drop Table

In [28]:
mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

Upedate

In [23]:
mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

Limit

In [24]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Michael', 'Canyon 123')
('Sandy', 'Ocean blvd 2')

Join

In [27]:
mydb = mysql.connector.connect(
  host="database-1.cf0hjhh8y8ul.us-east-1.rds.amazonaws.com",
  user="admin",
  password="senai115",
  database="mydatabase"
)


sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

ProgrammingError: 1146 (42S02): Table 'mydatabase.users' doesn't exist